<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vertrags Verwaltungs System</title>
</head>
<body>
    <h1>Vertrag anlegen</h1>
    <hr>

    <form action="/neu" method="post">

        <label for="vorname">Vorname:</label> <br>
        <input type="text" id="vorname" name="vorname"> <br>

        <label for="nachname">Nachname:</label> <br>
        <input type="text" id="nachname" name="nachname"> <br>

        <label for="geburtsdatum">Geburtsdatum:</label> <br>
        <input type="text" id="geburtsdatum" name="geburtsdatum"> <br>

        <label for="addresse">Addresse:</label> <br>
        <input type="text" id="addresse" name="addresse"> <br>

        <label for="versicherungsbeginn">Versicherungsbeginn:</label> <br>
        <input type="text" id="versicherungsbeginn" name="versicherungsbeginn"> <br>

        <label for="fahrzeug_hersteller">Fahrzeughersteller:</label> <br>
        <input type="text" id="fahrzeug_hersteller" name="fahrzeug_hersteller"> <br>

        <label for="fahrzeug_typ">Fahrzeugtyp:</label> <br>
        <input type="text" id="fahrzeug_typ" name="fahrzeug_typ"> <br>

        <label for="fahrzeug_hoechstgeschwindigkeit">Höchstgeschwindigkeit:</label> <br>
        <input type="text" id="fahrzeug_hoechstgeschwindigkeit" name="fahrzeug_hoechstgeschwindigkeit"> <br>

        <label for="amtliches_kennzeichen">Amtliches Kennzeichen:</label> <br>
        <input type="text" id="amtliches_kennzeichen" name="amtliches_kennzeichen"> <br>

        <br>
        <div>
            <input type="reset">
            <input type="submit">
        </div>
    </form>


</body>
</html>